### BMI 데이터 분석 및 예측

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 데이터셋 불러오기
data = pd.read_csv("data/bmi.csv")
data.shape

(500, 4)

In [3]:
print(data.head())

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [4]:
# 통계량 확인
data.describe()

           Height      Weight       Index
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000

In [5]:
# 결측치 확인
data.isnull().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [6]:
corr = data.corr()

C:\Users\UserK\AppData\Local\Temp\ipykernel_3452\1351907255.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = data.corr()