1. 데이터 수집 : https://www.kaggle.com/datasets/mirichoi0218/insurance
2. 변수 확인 
- age : 나이 
- sex : 성별
- bmi : 체질량지수
- children : 자녀의 수 
- smoker : 흡연여부
- region : 지역
- charges : 건강보험료

In [2]:
import pandas as pd

df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.info()   # 결측치 및 자료 타입 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

3. Data Scaling
- 범주형 테이터와 연속형 데이터로 분류
- 범주형  데이터는  X1으로,
- 연속형  데이터는  X2로, 
- 보험료(charges)는  y로  분류

In [18]:
# 지역 정보는 추후에 제거 
X1 = df[['sex', 'smoker']]    # 범주형 변수는 더미변수로 변환
X2 = df[['age', 'bmi', 'children']]     # 연속형 변수는 그대로 사용
y = df['charges']                       # 예측 변수는 그대로 사용

범주형 자료의 원핫 인코딩

In [19]:
X1_Dummy = pd.get_dummies(X1)   # 더미변수 생성
X1_Dummy.head()

   sex_female  sex_male  smoker_no  smoker_yes
0           1         0          0           1
1           0         1          1           0
2           0         1          1           0
3           0         1          1           0
4           0         1          1           0

연속형 자료의 표준화
- 평균을 0으로 표준편차를 1로 변환

In [20]:
X2.describe()  # 연속형 변수의 기초통계량 확인

               age          bmi     children
count  1338.000000  1338.000000  1338.000000
mean     39.207025    30.663397     1.094918
std      14.049960     6.098187     1.205493
min      18.000000    15.960000     0.000000
25%      27.000000    26.296250     0.000000
50%      39.000000    30.400000     1.000000
75%      51.000000    34.693750     2.000000
max      64.000000    53.130000     5.000000

In [21]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()                           # 표준화 객체 생성
scaler.fit(X2)                                      # 연속형 변수 표준화
X2_Scaled = scaler.transform(X2)                    # 표준화된 연속형 변수를 데이터프레임으로 변환
X2_Scaled                                           # 표준화된 연속형 변수 확인

array([[-1.43876426, -0.45332   , -0.90861367],
       [-1.50996545,  0.5096211 , -0.07876719],
       [-0.79795355,  0.38330685,  1.58092576],
       ...,
       [-1.50996545,  1.0148781 , -0.90861367],
       [-1.29636188, -0.79781341, -0.90861367],
       [ 1.55168573, -0.26138796, -0.90861367]])

4. 변경된 자료 합치기

In [24]:
X_scaled = pd.DataFrame(X2_Scaled)
X_scaled.columns = ['나이', 'BMI', '자녀수']
Insurance = pd.concat([X1_Dummy, X_scaled, y], axis=1) # 더미변수와 표준화된 연속형 변수, 그리고 결과(보험료)를 합침
Insurance.columns = ['남성', '여성', '흡연자', '비흡연자', '나이', 'BMI', '자녀수', '보험료'] 
Insurance.head()

   남성  여성  흡연자  비흡연자        나이       BMI       자녀수          보험료
0   1   0    0     1 -1.438764 -0.453320 -0.908614  16884.92400
1   0   1    1     0 -1.509965  0.509621 -0.078767   1725.55230
2   0   1    1     0 -0.797954  0.383307  1.580926   4449.46200
3   0   1    1     0 -0.441948 -1.305531 -0.908614  21984.47061
4   0   1    1     0 -0.513149 -0.292556 -0.908614   3866.85520

In [23]:
# 자료 저장 
Insurance.to_csv('InsuranceS.csv')