### 통계 함수 적용

평균값

In [1]:
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('data/auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [5]:
# 전체 열의 평균값 
print(df.mean())

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
dtype: float64

C:\Users\UserK\AppData\Local\Temp\ipykernel_8564\1187432946.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())

In [6]:
# 특정 열의 평균값
print(df['mpg'].mean())

23.514572864321607

중간값

In [7]:
# 모든 열의 중간값
print(df.median())

mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model year        76.0
origin             1.0
dtype: float64

C:\Users\UserK\AppData\Local\Temp\ipykernel_8564\1103532312.py:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.median())

In [8]:
# 특정 열의 중간값
print(df['mpg'].median())

23.0

In [10]:
# 최대값 
print(df.max())
print()
print(df['mpg'].max())

mpg                         46.6
cylinders                      8
displacement               455.0
horsepower                     ?
weight                    5140.0
acceleration                24.8
model year                    82
origin                         3
name            vw rabbit custom
dtype: object

46.6

In [11]:
# 최소값 
print(df.min())
print('\n')
print(df['mpg'].min())

mpg                                 9.0
cylinders                             3
displacement                       68.0
horsepower                        100.0
weight                           1613.0
acceleration                        8.0
model year                           70
origin                                1
name            amc ambassador brougham
dtype: object


9.0

In [14]:
# 표준편차 
print(df.std(numeric_only=True))  # Warning을 피하기 위해 옵션 추가 
print('\n')
print(df['mpg'].std())

mpg               7.815984
cylinders         1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model year        3.697627
origin            0.802055
dtype: float64


7.815984312565782

In [16]:
# 상관계수 
print(df.corr(numeric_only=True))
print('\n')
print(df[['mpg','weight']].corr())

                   mpg  cylinders  displacement    weight  acceleration  \
mpg           1.000000  -0.775396     -0.804203 -0.831741      0.420289
cylinders    -0.775396   1.000000      0.950721  0.896017     -0.505419
displacement -0.804203   0.950721      1.000000  0.932824     -0.543684
weight       -0.831741   0.896017      0.932824  1.000000     -0.417457
acceleration  0.420289  -0.505419     -0.543684 -0.417457      1.000000
model year    0.579267  -0.348746     -0.370164 -0.306564      0.288137
origin        0.563450  -0.562543     -0.609409 -0.581024      0.205873

              model year    origin
mpg             0.579267  0.563450
cylinders      -0.348746 -0.562543
displacement   -0.370164 -0.609409
weight         -0.306564 -0.581024
acceleration    0.288137  0.205873
model year      1.000000  0.180662
origin          0.180662  1.000000


             mpg    weight
mpg     1.000000 -0.831741
weight -0.831741  1.000000